  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
    }

    header {
      background-color: #333333;
      color: rgb(255, 94, 0);
      padding: 20px 0;
      text-align: center;
    }

    nav {
      background-color: #252525;
      display: flex;
      justify-content: right;
      
    }

    nav a {
      color: rgb(255, 252, 252);
      padding: 15px 20px;
      text-decoration: none;
      float: right;
    }

    nav a:hover {
      background-color: #fa0606;
    }

    main {
      padding: 20px;
    }

    section {
      margin-bottom: 30px;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
    }

    h2 {
      color: #333;
    }

    footer {
      background-color: #222;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 15px 0;
      position: relative;
      bottom: 0;
      width: 100%;
       text-align: center;
    }

    img {
      max-width: 100%;
      border-radius: 8px;
    }
    .menu {
      display: none;
    }
  .esconder {
    display: none;
  }

